---
layout: archive
title: "论文"
permalink: /zh/publications/
lang: zh
translation_key: publications
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">您也可以在我的 <a href="{{ site.author.googlescholar }}">Google Scholar 主页</a>查看论文。</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        {% assign category_title = site.data.i18n.zh.publication_categories[category[0]] | default: category[1].title %}
        <h2>{{ category_title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
